.user__login{
    display: flex;
    width: 100%;
    height: 100%;
}

.user__login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user__submit-btn button {
    padding: 100px;

}